body { background: #ca99b9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-validator-0 { color: #638ade; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #440b6b; font-size: 17px; margin-bottom: 5px; }
.block-email-2 { color: #aa3e67; font-size: 19px; margin-bottom: 5px; }
.block-uploader-3 { color: #35d25c; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #cc8775; font-size: 19px; margin-bottom: 5px; }
.block-search-5 { color: #1f8af0; font-size: 15px; margin-bottom: 5px; }
.block-product-6 { color: #b24f2c; font-size: 20px; margin-bottom: 5px; }
.block-sms-7 { color: #65ee1a; font-size: 13px; margin-bottom: 5px; }